@model Progra1_bases.Models.TipoCuenta

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TipoCuenta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaldoMinimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaldoMinimo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MultaIncumplimientoSaldoMinimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MultaIncumplimientoSaldoMinimo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoMensualCargosServico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoMensualCargosServico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxRetirosCajeroHumano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxRetirosCajeroHumano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MultaRetiroCajeroHumanoExceso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MultaRetiroCajeroHumanoExceso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TasaInteres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TasaInteres)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
