@model IEnumerable<Progra1_bases.Models.TipoCuenta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaldoMinimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MultaIncumplimientoSaldoMinimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoMensualCargosServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxRetirosCajeroHumano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MultaRetiroCajeroHumanoExceso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TasaInteres)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaldoMinimo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MultaIncumplimientoSaldoMinimo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoMensualCargosServico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxRetirosCajeroHumano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MultaRetiroCajeroHumanoExceso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TasaInteres)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
