@page
@model Progra1_Bases.Pages.Beneficiarios.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Beneficiario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beneficiario.FechaDesactivacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beneficiario.FechaDesactivacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beneficiario.PorcentajeBeneficio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beneficiario.PorcentajeBeneficio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beneficiario.ParentescoId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beneficiario.ParentescoId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beneficiario.Activo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beneficiario.Activo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beneficiario.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beneficiario.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beneficiario.FechaNacimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beneficiario.FechaNacimiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beneficiario.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beneficiario.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beneficiario.DocId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beneficiario.DocId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beneficiario.Doc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beneficiario.Doc)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Beneficiario.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
