@page
@model Progra1_Bases.Pages.Beneficiarios.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Beneficiario[0].fechaDesactivacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beneficiario[0].porcentajeBeneficio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beneficiario[0].activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beneficiario[0].nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beneficiario[0].fechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beneficiario[0].email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beneficiario[0].doc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Beneficiario) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fechaDesactivacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.porcentajeBeneficio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.activo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.doc)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
