@model IEnumerable<Progra1_bases.Models.Telefono>

@{
    ViewData["Title"] = "ListarTelefonos";
}

<h1>ListarTelefonos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Extension)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Extension)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                <a asp-action="EditarTelefono" asp-route-id="@item.ID">Editar</a> |
                <a asp-action="EliminarTelefono" asp-route-id="@item.ID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
