@page
@model Progra1_Bases.Pages.Clientes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.fechaNacimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.fechaNacimiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.doc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.doc)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cliente.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
