@page
@model Progra1_Bases.Pages.EstadosCuenta.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EstadoCuenta</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoCuenta.FechaInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstadoCuenta.FechaInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoCuenta.FechaFinalizacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstadoCuenta.FechaFinalizacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoCuenta.SaldoInicial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstadoCuenta.SaldoInicial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoCuenta.SaldoFinal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstadoCuenta.SaldoFinal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoCuenta.CantRetirosCajeroHumano)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstadoCuenta.CantRetirosCajeroHumano)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoCuenta.CantRetirosCajeroAutomatico)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstadoCuenta.CantRetirosCajeroAutomatico)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoCuenta.SaldoMinimo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstadoCuenta.SaldoMinimo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.EstadoCuenta.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
